.navbar {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 0.5%;
    width: 100%;
    height: 10vh;
}

body {
    background-color: white;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.Nav-logo-container {
    height: 100%;
    width: auto;
    margin-left: 2%;
}

.Nav-logo {
    height: 90%;
    width: auto;
    
}

.Nav-links-container {
    display: flex;
    justify-content: space-between;
    width: 25%;
    color: rgb(27, 11, 238);
    margin-left: auto;
    margin-right: 10%;
}

.Nav-link {
    text-decoration: none;
    color: aqua;
    font-size: 1rem;
}

.Nav-link:hover {
    transform: scale(1.2);
}

.Nav-link:focus {
    transform: scale(1.2);
}

.dropdown-content{
    display: none;
}

.Menu-container {
    display: none;
    
}

.Vid-Section{
    width: 90%;
    margin: 5% auto ;
    background-color: black;
    height: 400px;

}

.Home-Vid {
    width: 100%;
    height: 100%;
    
}

.About-Section {
    width: 90%;
    margin: 5% auto;
    background-color: white;
    padding: 2%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.About-Info {
    display: block;
    width: 60%;
    font-size: 1rem;
}

.About-img-container {

    width: 30%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30%;

}

.About-img-container img {
    height: 200px;
    width: auto;
    border-radius: 50%;
}

footer {
    background-color: black;
    padding: 3%;
    color: aqua;
    font-size: 1rem;
    height: 15vh;
}


.Home-Social-links {
    display: flex;
    justify-content: space-between;
    width: 6%;
    
}
.Home-social-link-img {
    width: 60%;
    height: auto;
}

.Home-social-link2-img {
    width: 60%;
    height: auto;
}



.AboutMe-sec {
     
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    margin-top: 4%; 
    padding: 2%;
}

.MY-Pic {
    width: 400px;
    height: auto;
}

.AboutME-Info {
    width: 50%;
    margin: 0 auto;
    font-size: 1rem;
}

.contact-section{
    display: flex;
    flex-direction: column;
    
   
    margin-top: 4%;
    padding: 2%;
    height: 50vh;
}
.Contact-Info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
    gap: 3rem;
    align-items: center;
}

.Contact-icon{
    height: 30px;
    width: auto;
}

@media (max-width: 490px) {

    body {
    background-color: white;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    min-height: 100vh;
}
   .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0.5%;
    width: 100%;
    height: 10vh;
}

.Nav-links-container {
    display: none;
}
#menu-toggle{
    display: none;
}

#menu-toggle:checked ~ .dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    position: absolute;
    top: 8.5%;
    left: 69%;
    background-color: black;
    width: 21.8%;
    animation-name: myAnimation;
    animation-duration: 4s;
    animation-delay: -2s;
    
    
}

@keyframes myAnimation {
    0% { left:150%; top:8.5%;}
    100% { left:77%; top:8.5%;}
}
.dropdown-content a {
    color: aqua;
    text-decoration: none;
    font-size: 1rem;
}
.Menu-container {
   
display: flex;
margin-right: 4%;
width: 15%;
    
}
.Menu-btn-container{
    display: block;
    width: 100%;
    height: auto;
    background-color: black;
    border: none;
}
.Menu-icon{
    width: 100%;
    height: auto;
    display: block;
}
.dropdown-content{
        display: none;
     
}

.dropdown-content:active{
    display: flex;
    flex-direction: column;

}
body {
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    min-height: 100dvh;
}

.About-Section {
     
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-top: 4%; 
    padding: 2%;
}

.About-img-container {
    width: 210px;
    height: auto;
    margin: 0 auto;

}

.About-Info {
    width: 90%;
    margin: 0 auto;
    font-size: 1rem;
    
}

.Home-Social-links {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 20%;
    
}
.Home-social-link-img {
    width: 100%;
    height: auto;
}

.Home-social-link2-img {
    width: 100%;
    height: auto;
}

.contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4%;
    padding: 2%;
    height: 70dvh;
}
.AboutMe-sec {
     
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    margin-top: 4%; 
    padding: 2%;
}

.MY-Pic {
    width: 400px;
    height: auto;
}

.AboutME-Info {
    width: 50%;
    margin: 0 auto;
    font-size: 1rem;
}

.AboutMe-sec{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-top: 4%; 
    padding: 2%;
    height: 75dvh;

}
.MY-Pic {
    width: 100%;
    height: auto;
   
}
.Pic-container{
    width: 60%;
    height: auto;
     margin: 4% auto;
}

.AboutME-Info {
    width: 90%;
    margin: 0 auto;
    font-size: 1rem;
}
}

@media (min-width: 600px) and (max-width: 1024px) {

  body {
    background-color: white;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    min-height: 100dvh;
}
main {
    flex: 1;
  
}
   .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0.5%;
    width: 100%;
    height: 10dvh;
}

.Nav-links-container {
    display: flex;
    justify-content: space-between;
    width: 35%;
    text-decoration: none;
    color: rgb(27, 11, 238);
    margin-left: auto;
    margin-right: 10%;
}

.Nav-link {
    text-decoration: none;
    color: aqua;
    font-size: 1rem;
}

.Nav-link:active {
    transform: scale(1.2);
}



.dropdown-content{
    display: none;
}

.Menu-container {
    display: none;
    
}

.Vid-Section{
    width: 90%;
    margin: 5% auto ;
    background-color: black;
    height: 400px;

}

.Home-Vid {
    width: 100%;
    height: 100%;
    
}

.About-Section {
    width: 90%;
    margin: 5% auto;
    background-color: white;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
   
}

.About-Info {
    display: block;
    width: 100%;
    font-size: 1rem;
    
}

.About-img-container {

    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    
}

.About-img-container img {
    height: 200px;
    width: auto;
    border-radius: 50%;
}

footer {
    background-color: black;
    color: aqua;
    font-size: 1rem;
    height: 15dvh;
    position: relative;
    top:10px;
}


.Home-Social-links {
    display: flex;
    justify-content: space-between;
    width: 15%;
    
}
.Home-social-link-img {
    width: 65%;
    height: auto;
}

.Home-social-link2-img {
    width: 65%;
    height: auto;
}



.AboutMe-sec {
     
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    margin-top: 20%; 
    padding: 2%;
}

.MY-Pic {
    width: 300px;
    height: auto;
}

.AboutME-Info {
    width: 50%;
    margin: 0 auto;
    font-size: 1rem;
}

.contact-section{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    padding: 2%;
    height: 50dvh;
}
.Contact-Info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
    gap: 3rem;
    align-items: center;
}

.Contact-icon{
    height: 30px;
    width: auto;
}

}
